.lobby {
  height: 100%;
  gap: 1vw;
  display: flex;
}

.lobby-container {
  padding: 10px;
  padding-left: calc(var(--sidebar-width) + 10px);
  width: 100%;
  display: flex;
  color: white;
  gap: 10px;
}

.lobby-container > * {
  height: 100%;
}

.lobby-browser {
  width: 75%;
}

.lobby-browser header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0.5em 0;
}

.lobby section.side-panel {
  width: 25%;
}


.main-lobby ul.react-tabs__tab-list {
  display: flex;
  font-size: 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

.lobby h1 {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  margin: 0.25em 0;
}

.lobby h2 {
  font-size: 1.25vw;
}

.main-lobby,
.main-lobby > section {
  height: 100%;
}

.main-lobby-nav ul {
  display: flex;
  margin: 0;
}

.main-lobby-nav li {
  color: white;
  list-style: none;
}

@media (width > 960px) {
  .main-lobby-nav ul {
    gap: 1em;
    justify-content: center;
  }

  .main-lobby-nav li .bubbly {
    background: var(--color-bg-primary);
    color: white;
  }

  .main-lobby-nav li .bubbly.active {
    background: var(--color-bg-secondary);
  }
}

@media (width <= 960px) {
  .main-lobby-nav {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 60px;
    z-index: 2;
    background: var(--color-bg-primary);
  }
  
  .main-lobby-nav ul {
    padding-left: 64px;
    border-top: var(--border-thin);
  }
  
  .main-lobby-nav li {
    flex: 1;
    display: grid;
    place-content: center;
    height: 60px;
    border-left: var(--border-thin);
  }
  
  .main-lobby-nav li.active {
    background-color: var(--color-bg-secondary);
  }
  
  .main-lobby-nav li img {
    display: block;
    margin: 0 auto;
  }

  .lobby nav {
    flex-wrap: wrap;
  }

  .lobby h1 {
    font-size: 4vw;
  }

  .lobby > .my-container {
    margin-top: 1em;
    max-height: 80vh;
  }

  .lobby-container {
    padding: 0;
  }

  .main-lobby {
    display: block;
    overflow-y: auto;
  }

  #root .main-lobby section {
    width: auto;
    height: calc(100vh - 68px);
    margin: 4px;
  }

  .main-lobby section:not(.active) {
    display: none;
  }

  .lobby .leaderboard-menu {
    width: auto;
  }

  .main-lobby-nav {
    display: block;
  }

  .custom-bg {
    background-position-x: center;
  }
}

/* TODO: move to its own file */
/* side panel */

.special-game-announcement {
  background: #40404080;
  padding: 0.4em 0.5em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  margin: 0;
}

.special-game-announcement span:last-child {
  flex: 0 0 6ch;
}