.atlas-node {
  & .atlas-node-bg {
    fill: var(--color-bg-primary);
  }

  & .atlas-node-border {
    fill: #a5c0e5;
    stroke: var(--color-border);
  }
}

.atlas-node.allocatable {
  cursor: var(--cursor-hover);

  & .atlas-node-bg {
    fill: var(--color-bg-secondary);
  }

  &:hover .atlas-node-bg {
    fill: var(--color-bg-accent);
  }

  & .atlas-node-border {
    fill: var(--color-bg-accent);
  }

  &:hover .atlas-node-border {
    fill: #fff;
  }
}

.atlas-node.allocated {
  & .atlas-node-bg {
    fill: var(--color-bg-accent);
  }

  & .atlas-node-border {
    fill: #ffffff;
    stroke: transparent;
  }
}

.atlas-node.item .atlas-node-bg {
  fill: #8b8356;
}

.atlas-node.item.allocated .atlas-node-bg,
.atlas-node.item.allocatable:hover .atlas-node-bg {
  fill: var(--color-bg-gold);
}

.atlas-node.condition:not(.allocated) .atlas-node-bg {
  fill: #a56060;
}

.atlas-node-detail {
  color: var(--color-fg-primary);
  font-size: 1rem;
  max-width: 300px;
}

.atlas-node-detail .atlas-node-detail-title {
  background-color: var(--color-bg-secondary);
  text-transform: capitalize;
  padding: 0.25em 0.5em;
  margin: -0.25em -0.25em 4px -0.25em;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -1px 2px rgb(0 0 0 / 50%);
}

.atlas-node-detail .atlas-node-detail-description {
  white-space: pre-line;
}
